@{
    ViewBag.Title = "About";
}
<section class="bg-light py-3">
    <div class="container text-center">
        <div class="info-left alert alert-info">
            <h1 class="l-heading"><span class="text-primary">About</span> Library BL</h1>
            <p class="p-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
                veritatis illo, similique labore voluptate nulla animi dolorum eius laborum
                illum, nesciunt quod reprehenderit dicta autem vel nobis minima sit deleniti!
            </p>
            <p class="p-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A
                velit voluptatem impedit voluptate. Doloribus, voluptas dolore! Cupiditate
                aliquid sequi deserunt.
            </p>
        </div>
        <div class="info-left alert alert-success text-center">
            <h2 class="">
                What Our Guests Say
            </h2>
        </div>

    </div>
</section>

<div class="clr"></div>

<section id="testimonials" class="py-3">
    <div class="container">
        <div class="testimonial bg-dark text-light">
            <img class="mr-3" src="~/Content/images/person-1.jpg" alt="person1">
            <p class="ml-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
                eligendi quibusdam, dolorum maxime cum numquam quisquam, deleniti eum
                incidunt, velit non consectetur. Facere, ipsa maxime, ullam id amet odio
                laboriosam sit iusto tempore fugit exercitationem, a dolore quo maiores
                nisi!
            </p>
        </div>
        <div class="testimonial bg-dark text-light">
            <img class="mr-3" src="~/Content/images/person-2.jpg" alt="person2">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
                eligendi quibusdam, dolorum maxime cum numquam quisquam, deleniti eum
                incidunt, velit non consectetur. Facere, ipsa maxime, ullam id amet odio
                laboriosam sit iusto tempore fugit exercitationem, a dolore quo maiores
                nisi!
            </p>
        </div>
    </div>
</section>
